#aboutme h1 {
  margin-bottom: 1em;
}

#me-and-the-boys {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 20px;
  border: 2px solid black;
  margin-bottom: 1em;
}

@media (min-width: 610px) {
  #me-and-the-boys {
    width: 40%;
    max-width: 240px;
    float: left;
    margin-bottom: 0;
  }
}
