@use "../themes/colors";

#companies {
  //   display: flex;
  width: 100%;
}

#company-logos {
  width: 100%;
  display: flex;
  //justify-content: space-between;
  //align-items: stretch;
  //padding-top: 2em;
  //padding-bottom: 2em;
}

#company-logos div {
  width: 33%;
  //height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 4px solid #fff;
}

#company-logos #challenger-logo-container {
  width: 34%;
}

#companies div img {
  width: 100%;
  max-width: 250px;
  padding: 1em;
  background-color: #fff;
}

#company-logos #ga-logo {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 0px;
}

#experience-description {
  padding-top: 2em;
}

#experience-description article {
  text-align: center;
}

#experience-description article h4 {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

#company-logos #ga-logo-container {
  border-bottom: 4px solid colors.$light-grey;
}

// clicking on the image will display description of the corresponding experience
// to start these off, GA will be set to display: block
// while the other two will be hidden

#ga-experience-info {
  display: block;
}

#challenger-experience-info {
  display: none;
}

#bare-experience-info {
  display: none;
}

.experience-accomplishments-container {
  display: flex;
  justify-content: center;
}

#experience ul {
  padding-top: 1.5em;
  list-style: square;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
}

#experience ul li {
  padding-bottom: 1em;
}
